<div class = 'container-fluid'>
    <div class = 'row' >
            <div>
            <h3><u><%= @recipe.title %></u></h3>
            </div>
    </div></br>

    <div class = 'row' >
        <h4>Ingredients</h4></br>
            <div>
            <%= @recipe.body %>
            </div>
    </div></br>

    <div class = 'row' >
        <h4>Recipe procedure</h4></br>
            <div>
            <ul>
            <% ingredients = @recipe.ingredients.split(" ") %>
            <% ingredients.each do |ingredient| %>
                <li><%= ingredient %> </li>
            <% end %>
            </ul>
            </div>
    </div></br>
    </br>
    </br>

    <div class = 'row' >
        <%= render 'comments/comment' %>
    </div>
</div>