<div>
<h3>Title</h3></br>
<%= @recipe.title %>
</div>

<div>
<h3>ingredients</h3></br>
<%= @recipe.body %>
</div>

<div>
<h3>Recipe procedure</h3></br>
<%= @recipe.ingredients %>
</div>
</br>
</br>

<%= render 'comments/comment' %>


